.main {
	width: 100%;
	height: 100%;
	background-image: linear-gradient(#af67e9, #6565e7);
	padding: 8% 28%;
}

.faq {
	display: flex;
	background: white;
	box-shadow: 0px 9px 49px 1px rgb(10 27 82 / 70%);
	border-radius: 20px;
	box-sizing: border-box;
	padding: 12% 0;
}

.questions {
	padding: 10px 15px;
}

.images {
	width: 50%;
}

.woman {
	margin-left: -27%;
}

@media (max-width: 900px) {
	.main {
		padding: 15% 10%;
	}
	.faq {
		flex-direction: column;
		padding: 0 50px;
	}
	.box {
		display: none;
	}
	.womanMobile {
		display: block;
		margin: 0 auto;
		max-width: 90%;
		margin-top: -93px;
	}
	.images {
		width: 100%;
	}
}
